<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium" class="ion-justify-content-center">


</ion-content>

<div class="screen">
  <div class="scan">
    <img id="logo" src="assets/logo.png">
  </div>
</div>

<ion-footer class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-button expand="block" (click)="lerQRCode()"> ESCANEAR </ion-button>
  </ion-toolbar>
</ion-footer>