<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
</ion-content>

<div class="screen">
  <div class="scan">
    <img id="logo" src="assets/logo.png">
  </div>
</div>

<ion-footer class="ion-no-border" id="footer">
  <ion-item *ngIf="link">
    <ion-label>
      <div>
        <a [href]="resultado" target="_blank">{{resultado}}</a>
      </div>
    </ion-label>
  </ion-item>
  <ion-item *ngIf="resultado">
    <ion-label position="floating">Resultado:</ion-label>
    <ion-input [(ngModel)]="resultado"></ion-input>
  </ion-item>
  <ion-toolbar color="dark">
    <ion-button expand="block" (click)="lerQRCode()"> ESCANEAR </ion-button>
  </ion-toolbar>
</ion-footer>